<a href="https://colab.research.google.com/github/medinabopp/notebooks_Testes/blob/main/sqliteTeste.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3

In [3]:
con = sqlite3.connect('escola.db')

In [4]:
type(con)

sqlite3.Connection

In [6]:
cur = con.cursor()

In [7]:
type(cur)

sqlite3.Cursor

In [8]:
sql_create = 'create table cursos '\
'(id integer primary key '\
', titulo varchar(100) '\
', categoria varchar(140))'

In [9]:
cur.execute(sql_create)

In [14]:
sql_insert = 'insert into cursos values (?, ?, ?)'

In [11]:
recset = [(1000, 'ciencia de dados', 'data science'), 
          (1001, 'big data fundamentos', 'big data'),
          (1002, 'python fundamentos', 'analise de dados')]

In [15]:
for rec in recset:
    con.execute(sql_insert, rec)

In [16]:
con.commit()

In [18]:
sql_select = 'select * from cursos'

In [19]:
cur.execute(sql_select)

In [20]:
dados = cur.fetchall()

In [21]:
for linha in dados:
    print('curso id: %d, titulo: %s, categoria:%s \n' % linha)

curso id: 1000, titulo: ciencia de dados, categoria:data science

curso id: 1001, titulo: big data fundamentos, categoria:big data

curso id: 1002, titulo: python fundamentos, categoria:analise de dados